*{
    color:red;
    font-size: 30px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
p{
    color:gray;
}
@media screen and (min-width:600px) and (max-width:800px){
    p{
        color: green;

    }
    *{
        font-size: 40px;
        background-color: rgb(136, 61, 207);
    }

}
@media screen and (min-width:810px) and (max-width:1000px){
    body{ 
        background-color: rgb(94, 63, 63);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    div{
        width: 70px;
        height:200px;
        border: 2px dotted green;
    }

}
